<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Vue 3 Basics</title>
  </head>
  <body>
    <div id="data" v-cloak>
      Hello, {{ name }}. Your age is {{ age }}
      <input type="text" v-model="name">
      
      <hr />
      <button v-on:click="isMarried = !isMarried">Show box</button>
      <div v-if="isMarried" class="box"></div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      let app = Vue.createApp({
        data: function () {
          return {
            name: "Sofía",
            lastname: "Durán",
            age: 21,
            isMarried: true,
          };
        },
      });
      app.mount("#data");
    </script>
  </body>
</html>
